					body{
						 font-family:Montserrat;
						 margin:50px;
					}
					
					ul {
						 background-color:rgb(255, 51, 51);
						 list-style-type: none;
						 width:225px;
						 padding:20px
						 list-style-type: none;
					     position:fixed;
						 height:457px;
						 overflow:auto;
						 padding-top:80px;
						 padding-bottom:102px;
						
					}
					
					li a:hover:(.active) {
						 background-color: rgb(255, 51, 51);
					}
					a:hover, a:active {
						background-color: white;
						color:red;
						}	
					li a.move1 {
						 background-color: rgb(255, 51, 51);
						 color: white;
						
					}
					li a{
					      text-decoration: none;
						  color:white;
					}
					
					li{
						  margin:20px;
					}
					
					table{
						  padding-left:150px;
					}
					
					
					.hiwi{
					      height:300px;
					  	  width:480px;
					}
					
					.had{
						 padding-left:300px;
						 padding-right:120px;
						 
					}
					
					.pad{
					 	 padding:15px;
						 text-align:left;
					}					

					.bac2{
						 height:220px;
						 width:300px;
					}

					.div{
						 float:left;
						 width:50px;
						 height:50px;
						 
						 
					}
					.red {
						 color:rgb(255, 51, 51);
					}
					.shop{
						 background-color:rgb(230, 230, 230);
						 color:black;
						 text-align:center;
						 padding-bottom:30px;padding-top:30px;
					}
					.button{
						 background-color:white;
						 color:black;
						 text-align:center;
						 padding-top:10px;
						 padding-right:55px;
						 padding-bottom:10px;
						 padding-left:55px;
						 
					}
					#send{
						 background-color:rgb(255, 51, 51);
						 color:white;
						 padding-top:15px;
						 padding-bottom:15px;
						 margin-left:295px;
						 margin-right:140px;
						 
					}		
					.back{
						 background-color:gray;

					}s